<.flash_group flash={@flash} />
<main class="container bg-slate-950 min-h-screen flex flex-col content-center">
  <div class=" text-red-500 mt-auto mb-auto ml-auto mr-auto">
    <h1 class="bg-inherit text-4xl">Scaryaoke Halloween Costume Contest</h1>
    <pre>
      October 27th @ 7pm to ???
      2365 Briarcrest Trl NE,
      Atlanta, GA 30345
    </pre>
  </div>
</main>
